pkgbase = git-for-windows
	pkgdesc = The fast distributed version control system
	pkgver = 2.40.0
	pkgrel = 2
	url = https://git-scm.com/
	arch = i686
	arch = x86_64
	groups = VCS
	license = GPL2
	makedepends = asciidoc
	makedepends = autotools
	makedepends = docbook-xml
	makedepends = docbook-xsl
	makedepends = gcc
	makedepends = less
	makedepends = libexpat-devel
	makedepends = libcurl-devel
	makedepends = libiconv-devel
	makedepends = gettext-devel
	makedepends = pcre2-devel
	makedepends = python
	makedepends = rsync
	makedepends = xmlto
	depends = curl
	depends = libpcre2_8
	depends = libexpat
	depends = libintl
	depends = nano
	depends = openssh
	depends = openssl
	depends = perl-Error
	depends = perl>=5.14.0
	depends = perl-Authen-SASL
	depends = perl-libwww
	depends = perl-MIME-tools
	depends = perl-Net-SMTP-SSL
	depends = perl-TermReadKey
	optdepends = python: various helper scripts
	optdepends = subversion: git svn
	provides = git-core
	conflicts = git
	replaces = git-core
	source = git-2.40.0.windows.2.tar.gz::https://github.com/git-for-windows/git/archive/v2.40.0.windows.2.tar.gz
	source = 1.7.9-cygwin.patch
	source = git-1.8.4-msys2.patch
	source = git-2.8.2-Cygwin-Allow-DOS-paths.patch
	source = git-tcsh-completion-fixes.patch
	source = git-2.35.1-git-gui.patch
	source = git-credential-wincred-fixes.patch
	sha256sums = 53e207293bc226ad129ed0ed6ea8d314c01a060dcfff5774f54c4639fde5f427
	sha256sums = 32baa705d76789d82316a1325e61c9a261114eaa9814dca9c05683bf63069dea
	sha256sums = 9bc4da5022c5004c4c5b45417b25c6636ddf0ac338574a624c2c775d4394546d
	sha256sums = 369c52227d10803dd2ace37053cbcbffe63fad23b313bfbe3dce0f3ecd31ca4e
	sha256sums = 6f25aae9e92469d5e284dcf372e15ee0e57ff91531e691e7391f9bfb78f73626
	sha256sums = 989473b9ea683fcea7761d3f82a37653c63c2df7be795e4edcdeffaa0c22c5b6
	sha256sums = 3abeca1dc20c29644827f5701dbd05ef4f236b69907970ad51863a312307bed2

pkgname = git-for-windows
